/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `automatic_role` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_id` bigint unsigned NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_0e1287bf66758d319bd909f4ee7` (`guild_id`),
  CONSTRAINT `FK_0e1287bf66758d319bd909f4ee7` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `birthday` (
  `id` int NOT NULL AUTO_INCREMENT,
  `datetime` datetime NOT NULL,
  `date_post` datetime DEFAULT NULL,
  `member_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `REL_9582c884d83f7ce92164938d0d` (`member_id`),
  CONSTRAINT `FK_9582c884d83f7ce92164938d0d3` FOREIGN KEY (`member_id`) REFERENCES `member` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `channel_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` enum('warn','unwarn','timeout','untimeout','kick','ban','unban','clear','lock','unlock') NOT NULL,
  `channel_id` bigint unsigned NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_37da6dee8b4cbd5745a2fd47443` (`guild_id`),
  CONSTRAINT `FK_37da6dee8b4cbd5745a2fd47443` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `embed` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  `color` varchar(255) DEFAULT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_99d333eb47cc5f02a24103d14a4` (`guild_id`),
  CONSTRAINT `FK_99d333eb47cc5f02a24103d14a4` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exempted_role` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_id` bigint unsigned NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_d9949ee540f55041d4f8e10afff` (`guild_id`),
  CONSTRAINT `FK_d9949ee540f55041d4f8e10afff` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `filtered_word` (
  `id` int NOT NULL AUTO_INCREMENT,
  `word` varchar(255) NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_5f6c328d7d941fe5f2e43606d7e` (`guild_id`),
  CONSTRAINT `FK_5f6c328d7d941fe5f2e43606d7e` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guild` (
  `guild_id` bigint unsigned NOT NULL,
  `guild_name` varchar(100) NOT NULL,
  PRIMARY KEY (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `guild_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `welcome_channel_id` bigint unsigned DEFAULT NULL,
  `member_count_channel_id` bigint unsigned DEFAULT NULL,
  `all_log_channel_id` bigint unsigned DEFAULT NULL,
  `birthday_channel_id` bigint unsigned DEFAULT NULL,
  `twitch_channel_id` bigint unsigned DEFAULT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `REL_c09407246c564ad08a6dc46b3c` (`guild_id`),
  CONSTRAINT `FK_c09407246c564ad08a6dc46b3c1` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `level_config` (
  `id` int NOT NULL AUTO_INCREMENT,
  `max_level` int NOT NULL,
  `xp_multiplier` float NOT NULL,
  `xp_per_message` int NOT NULL,
  `xp_per_voice_min` int NOT NULL,
  `xp_cooldown_sec` int NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `REL_9953c3b7073203764d72cb2c81` (`guild_id`),
  CONSTRAINT `FK_9953c3b7073203764d72cb2c814` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `level_reward` (
  `id` int NOT NULL AUTO_INCREMENT,
  `level` int NOT NULL,
  `role_id` bigint unsigned NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `Unique_level_reward` (`guild_id`,`level`),
  CONSTRAINT `FK_1240891db086ed66a38c31c928e` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `target_id` bigint unsigned NOT NULL,
  `author_id` bigint unsigned NOT NULL,
  `type` enum('warn','unwarn','timeout','untimeout','kick','ban','unban','clear','lock','unlock') NOT NULL,
  `reason` varchar(255) NOT NULL,
  `duration` int DEFAULT NULL,
  `expire_at` datetime DEFAULT NULL,
  `datetime` datetime NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_2f97f7fdbffe420a1d90d17c95c` (`guild_id`),
  CONSTRAINT `FK_2f97f7fdbffe420a1d90d17c95c` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `member` (
  `id` int NOT NULL AUTO_INCREMENT,
  `discord_user_id` bigint unsigned NOT NULL,
  `current_xp` int NOT NULL DEFAULT '0',
  `current_level` int NOT NULL DEFAULT '0',
  `last_xp_at` datetime DEFAULT NULL,
  `joined_at` datetime NOT NULL,
  `left_at` datetime DEFAULT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `member_guild_discord` (`guild_id`,`discord_user_id`),
  CONSTRAINT `FK_731e66201ce5d73fec0c2dd8d4e` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `moc_channel` (
  `id` int NOT NULL AUTO_INCREMENT,
  `moc_channel_id` bigint unsigned NOT NULL,
  `allow_files` tinyint NOT NULL,
  `allow_images` tinyint NOT NULL,
  `allow_videos` tinyint NOT NULL,
  `allow_links` tinyint NOT NULL,
  `allow_text` tinyint NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_b5c74d19e7e3001302a9dcbb648` (`guild_id`),
  CONSTRAINT `FK_b5c74d19e7e3001302a9dcbb648` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `twitch` (
  `id` int NOT NULL AUTO_INCREMENT,
  `twitch_username` varchar(255) NOT NULL,
  `guild_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_33e5344fbb90285efbf9a2b628c` (`guild_id`),
  CONSTRAINT `FK_33e5344fbb90285efbf9a2b628c` FOREIGN KEY (`guild_id`) REFERENCES `guild` (`guild_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warning` (
  `id` int NOT NULL AUTO_INCREMENT,
  `author_id` bigint unsigned NOT NULL,
  `reason` text NOT NULL,
  `is_active` tinyint NOT NULL DEFAULT '1',
  `member_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_10e1be4b7b96e27a20d5436021f` (`member_id`),
  CONSTRAINT `FK_10e1be4b7b96e27a20d5436021f` FOREIGN KEY (`member_id`) REFERENCES `member` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
